.inputPassword {
    padding: 16.5px 14px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    outline: none;
    border-color: rgba(0, 0, 0, 0.23);
    border-style: solid;
    border-radius: 10px;
  }

.btnChangePassword {
  margin-top: 10px !important;
}