.inputPredmet {
  padding: 16.5px 14px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  outline: none;
  border-color: rgba(0, 0, 0, 0.23);
  border-style: solid;
  border-radius: 10px;
}

.gridClasses {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 20px;
}
