.markElem {
  background-color: #fff;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
}

.styleMarkDefault {
  color: white;
  padding: 2px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
  margin-right: 2px;
}

.styleMarkMaxValue {
  color: white;
  padding: 2px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 800;
  margin-left: 2px;
  background-color: green;
}

.markElemInner {
  padding: 15px;
}

.markTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.markBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}