.buttonMarkForm {
    margin-bottom: 10px !important;
}

.inputNumber {
    height: 50px;
    -moz-appearance: textfield;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 30px;
    font-size: 20px;
    outline: none;
}