.journal__mark {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tableItemScroll {
    position: sticky;
    background: #fff;
    top: 0;
    left: 0;
    min-width: 200px;
    z-index: 2;
}

.deleteFunction {
    outline: none;
    text-decoration: none;
} 

@media (max-width: 720px) {
    .tableItemScroll {
        font-size: 12px !important;
        min-width: 170px;
    }
    .tableItemScrollItog {
        font-size: 12px !important;
    }
}